{% load static %}
<!DOCTYPE html>
<html lang="en" style="color: var(--bs-blue);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Innovation Club</title>
    <link rel="stylesheet" href="{% static 'Minutes/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Minutes/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Minutes/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'Minutes/css/styles.css' %}">
</head>

<body>
{% block content %}

{% endblock content%}

<div class="container">
        <div class="row">
            <div class="col">
                <footer class="footer-clean">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-4 col-md-3 item">
                                <h3>Communities</h3>
                                <ul>
                                    <li><a href="#">Linux</a></li>
                                    <li><a href="#">Cloud Computing</a></li>
                                    <li><a href="#">OS and Security</a>
                                        <a href="#">OS and Security</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 item">
                                <h3>Important Links</h3>
                                <ul>
                                    <li><a href="#">Upcoming Events</a></li>
                                    <li><a href="#">Karatina University</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 item">
                                <h3>Misc</h3>
                                <ul>
                                    <li><a href="#">Innovations</a></li>
                                    <li><a href="#">Success Stories</a></li>
                                    <li><a href="#">Others</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-whatsapp"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-googleplus-outline"></i></a><a href="#"><i class="icon ion-social-github"></i></a>
                                <p class="copyright">innovationclub@karu © 2022</p>
                            </div>
                        </div>
                    </div>
                </footer>
                <div></div>
            </div>
        </div>
    </div>
    <script src="{% static 'Minutes/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>