{% extends 'Minutes/base.html' %}
{% load static %}
{% block content %}
    <section style="color: var(--bs-blue);">
        <header style="color: var(--bs-blue);"></header>
    </section>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean" style="color: var(--bs-success);">
        <div class="container"><a class="navbar-brand" href="#" style="height: 45px;margin: -32px;">&nbsp;<i class="fas fa-home" style="height: 27px;margin: 0px;padding: 0px;color: var(--bs-yellow);"></i>Karu Inovation Club</a><button data-bs-toggle="collapse" data-bs-target="#navcol-3" class="navbar-toggler"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#"></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: var(--bs-success);font-weight: bold;">The Secretary</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: var(--bs-success);">More</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Minutes</a><a class="dropdown-item" href="#">Upcoming Events</a><a class="dropdown-item" href="#">About</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><img src="assets/img/karu.png"></h1>
                <h1 style="text-align: center;color: var(--bs-green);">Welcome To Karu Innovation Club</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;color: var(--bs-success);"></h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: var(--bs-green);text-align: center;">Minutes DB</h1>
                <div class="dropdown" style="padding: 0px;margin: 3px;"><button class="btn btn-success dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Choose Year</button>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">Select Year</h6><a class="dropdown-item" href="#">2022</a><a class="dropdown-item" href="#">2021</a><a class="dropdown-item" href="#">2020</a><a class="dropdown-item" href="#">2019</a><a class="dropdown-item" href="#">2018</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{minutes.title}}</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-success" type="button">View</button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Min/01/06</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-success" type="button">View</button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Min/01/06</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-success" type="button">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4" style="color: var(--bs-red);"></div>
            <div class="col-md-4 text-center">
                <nav style="text-align: center;font-size: 13px;padding: 0px;margin: 98px;height: 1px;width: 245px;color: var(--bs-green);font-weight: bold;--bs-success: #198754;--bs-success-rgb: 25,135,84;">
                    <ul class="pagination">
                        <li class="page-item" style="font-size: 13px;"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item text-center"><a class="page-link" href="#">3</a></li>
                        <li class="page-item" style="font-size: 13px;"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    {% endblock content %}